// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-perpul: #be09f8;
	--ion-color-perpul-rgb: 190,9,248;
	--ion-color-perpul-contrast: #000000;
	--ion-color-perpul-contrast-rgb: 0,0,0;
	--ion-color-perpul-shade: #a708da;
	--ion-color-perpul-tint: #c522f9;
}

.ion-color-perpul {
	--ion-color-base: var(--ion-color-perpul);
	--ion-color-base-rgb: var(--ion-color-perpul-rgb);
	--ion-color-contrast: var(--ion-color-perpul-contrast);
	--ion-color-contrast-rgb: var(--ion-color-perpul-contrast-rgb);
	--ion-color-shade: var(--ion-color-perpul-shade);
	--ion-color-tint: var(--ion-color-perpul-tint);
}
